<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Personal Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="chat-window">
            <div id="chat-display" class="chat-display"></div>
                <div class="typing-indicator" style="display:none;">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
<script src="{{ url_for('static', filename='js/background.js') }}"></script>

            <form id="user-input-form" class="input-form">
                <input id="user-input" type="text" autocomplete="off" placeholder="Type your message here...">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/background.js') }}"></script>
</body>
</html>
